before validating

<div id="list">
	<form method="post" action="csvrun">
		<%csv_arrs.each do |row|%>
			<%=row[1]%><br>

		<input type="hidden" name="is_arr[]" value="<%=row[1]%>">
		<%end%>	
		<input type="submit" value="gittit">
	</form>	
</div>