<!DOCTYPE html>
<html>
	<head>
		<title>input</title>
			<h1>So...You wanna check an ISBN number?? </h1>
	</head>
	
	<body>
		<form method="post" action="nums">
			<input type="text" name="isbn">
			<input type="submit" value="TRYIT">	
		</form>
	</body>
</html>