<!DOCTYPE html>
<html>
	<head>
		<title>input</title>
			<h1>So...You wanna check an ISBN number?? </h1>
	</head>
	
	<body>
	<div id="text">
		
		<form method="post" action="nums">
			<input type="TEXT" name="isbn">
			<input type="submit" value="TryIT">	
		</form>
	
		<form method="post" action="csv">
			<input type="submit" value="tst_csv">
		</form>
	</div>

	<%numbr.each do |n|%>
	<%=n%>	<br>
	<%end%>
	</body>
</html>